{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
         {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>

      {% endif %}
        <span class="logo">Site name</span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Homepage</li></a>
            <a href="{% url 'signup' %}"><li><i class="far fa-registered"></i> Registration</li></a>
            <a href="{% url 'register' %}"><li><i class="far fa-registered"></i> Form</li></a>
            <a href="{% url 'login' %}"><li><i class="fas fa-door-open"></i> Authorisation</li></a>
            <a href="{% url 'logout' %}"><li><button class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Выход</button></li></a>

        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>